<div class="container">
  <blockquote>
    By failing to prepare, you're preparing to fail. ~Benjamin Franklin
  </blockquote>

  <div class="task-input">
    <input type="text" name="task" id="task" [(ngModel)]="task" />
    <button (click)="onSubmit()">Submit</button>
  </div>

  <p
    class="message {{ submitResponse.isError ? 'error' : '' }}"
    *ngIf="submitResponse.message !== ''"
  >
    {{ submitResponse.message }}
  </p>

  <!-- list of tasks -->
  <ul>
    <li
      class="task {{ task.completed ? 'completed' : '' }}"
      *ngFor="let task of tasks; let id = index"
    >
      {{ task.taskDate | date : "dd/MM/yyyy" }}
      <input
        id="{{ id }}"
        type="text"
        [(ngModel)]="task.task"
        [disabled]="!task.inEditMode"
      />

      <div>
        <!-- edit button -->
        <button
          id="edit"
          *ngIf="!task.inEditMode"
          (click)="onEdit(id)"
          [disabled]="task.completed"
        >
          Edit
        </button>

        <!-- save button -->
        <button
          *ngIf="task.inEditMode"
          id="save"
          (click)="onSaveEdit(id)"
          [disabled]="task.completed"
        >
          Save
        </button>

        <!-- complete task button -->
        <button
          id="complete"
          (click)="onComplete(id)"
          [disabled]="task.completed"
        >
          Complete
        </button>

        <!-- delete task button -->
        <button id="delete" (click)="onDelete(id)" [disabled]="task.completed">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
