<div class="container">
  <blockquote>
    By failing to prepare, you're preparing to fail. ~Benjamin Franklin
  </blockquote>

  <div class="task-input">
    <input type="text" name="task" id="task" [(ngModel)]="task" />
    <button (click)="onSubmit()">Submit</button>
  </div>

  <p
    class="message {{ submitResponse.isError ? 'error' : '' }}"
    *ngIf="submitResponse.message !== ''"
  >
    {{ submitResponse.message }}
  </p>

  <!-- list of tasks -->
  <ul>
    <li
      class="task {{ task.completed ? 'completed' : '' }}"
      *ngFor="let task of tasks; let id = index"
    >
      {{ task.taskDate | date : "dd/MM/yyyy" }}
      <input
        id="{{ id }}"
        type="text"
        [(ngModel)]="task.task"
        [disabled]="!task.inEditMode"
      />

      <div>
        <!-- edit button -->
        <button
          class="edit"
          *ngIf="!task.inEditMode"
          (click)="onEdit(id)"
          [disabled]="task.completed"
        >
          <ng-icon name="heroPencilSquare"></ng-icon>
        </button>

        <!-- save button -->
        <button
          *ngIf="task.inEditMode"
          class="save"
          (click)="onSaveEdit(id)"
          [disabled]="task.completed"
        >
          <ng-icon name="ionSaveOutline"></ng-icon>
        </button>

        <!-- complete task button -->
        <button
          class="complete"
          (click)="onComplete(id)"
          [disabled]="task.completed || task.inEditMode"
        >
          <ng-icon name="heroCheck"></ng-icon>
        </button>

        <!-- delete task button -->
        <button
          class="delete"
          (click)="onDelete(id)"
          [disabled]="task.completed || task.inEditMode"
        >
          <ng-icon name="heroTrash"></ng-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
